body {
  background-image: url("/images/campus3.jpg");
  background-color: hsla(300, 24%, 90%, 0.651);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}



#splash_title {
	
  width: 100%;
  font-size: 100px;
  color: darkred;
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgb(31 30 30);
  text-align: center;
  background-color: radical-gradient(black, transparent);
  height: 300px;
  
  
  
}

.menu_button {
	background-color: rgba(255, 0, 0, 0.5);
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
